<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Platforma GAP</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>

  <main>
    <div>
      <h3 class="title"> Transfer fisiere din reteaua INTERNET in reteaua MEDICALA </h3>
   
            <form method="post" action="http://localhost:3336/incarcadininternet">
                <label for="files">Selectati fisierele de transferat:</label>
                <input type="file" id="fisiere" name="fisiere" multiple><br><br>
                <input type="submit" value="Transfera!">
            </form>

    </div>
  </main>
</body>
</html>
