<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Platforma GAP</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>

  <main>
    <div>
      <h1 class="title"> Merge... </h1>
      <p class="subtitle">
       Felicitari ! Acum sa trecem la ... scraper!
      </p>

    </div>
  </main>
</body>
</html>
